<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Página não encontrada</title>
    </head>
    <body>
        <h1>404 NOT FOUND</h1>
        Página não encontrada:
        <ul>
            <li>Verifique a conexão</li>
            <li>Verifique se digitou corretamente a URL</li>
        </ul>
    </body>
</html>
